#Ignore all files.
*
/*

#Whitelisted
!tsconfig.json
!prod.tsconfig.json
!README.md
!package.json
!package-lock.json
!LICENSE.md
!.npmignore
!src/**/*
!bin_src/**/*
!.circleci/**/*
!test/**/*
!GitVersion.yml
!.prettierrc.yml